header {
    background-color: transparent;
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 999;
    transition: background-color 0.3s ease-in-out;
    box-shadow: none; /* Set initial box-shadow to none */
  }
  
  header.scrolled {
    background-color: #ffffff; /* Change the background color when scrolled */
    box-shadow: 0 6px 10px rgba(0, 0, 0, 0.253); /* Add box-shadow when scrolled */

  }
  
  nav {
    display: flex;
    justify-content: center;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
  }
  
  li {
    display: inline-block;
    margin: 10px;
  }
  
  a {
    /* color: ; */
    text-decoration: none;
  }
  