@keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .animatespin {
    animation: spin 40s linear infinite;
  }
  
   
  @keyframes updown {
    0%,
    100% {
      transform: translateY(0);
    }
    50% {
      transform: translateY(-10px);
    }
  }
  
  .animate-updown {
    animation: updown 3s ease-in-out infinite;
  }