@tailwind base;
@tailwind components;
@tailwind utilities;


/* body{
    height: 100%;
} */
  
/* width */
::-webkit-scrollbar {
    width: 7px;
}
  
/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
}
  
/* Handle */
::-webkit-scrollbar-thumb {
    background: #565acf;
    border-radius: 5px;
}
  
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #598ceb;
}

html {
    scroll-behavior: smooth;
  }